.header {
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 36px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 120px;
  margin-bottom: 50px;
}
